%h1 Scroll Select
%h2 Choose your Coffee-Board image
%hr
%p
  %strong Scroll Files
  %ul.scroll_list
    - @image_files.each do |file|
      %li.file
        = link_to "/set_scroll/#{file}", file

%hr
%form{:action=>"/upload",:method=>"post"   ,:enctype=>"multipart/form-data"}
  %input{:type=>"file",:name=>"file"}
  %input{:type=>"submit",:value=>"Upload"}
