.row
  .scroll_list
    - @image_files.each do |file|
      .col-md-2
        .panel.panel-success
          .panel-heading
            %h3.panel-title
              = link_to "/set_scroll/#{file}", file
          .panel-body
            Picture will go here
            .row.center-block
              .btn.btn-xs.btn-success
                Scroll
              .btn.btn-xs.btn-danger
                Delete