!!!
%html
  %head
    %title Coffee-Board
    %link{:href => "css/base.css", :media => "all", :rel => "stylesheet"}
  %body
    .header
      %img{src:"images/header.png", alt: "Coffee Board Header"}
    .content
      = yield