body {
  font-family: helvetica;
}

.header img {
  width: 44em;
  display: block;
  margin: 0 auto;
}

.content {
  width: 44em;
  padding: 90px 0 10px 0;
  margin: -100px auto 0 auto;
  background-color: #71c535;
}

h1 {
  text-align: right;
  margin: -51px 10px 39px 0;
  text-decoration: underline;
}