body {
  font-family: helvetica;
}

.header img {
  width: 44em;
  display: block;
  margin: 0 auto;
}

.content {
  width: 44em;
  padding: 90px 0 10px 0;
  margin: -100px auto 0 auto;
  background-color: #71c535;
  border-radius: 5px;
}

h1 {
  text-align: right;
  margin: -51px 10px 39px 0;
  text-decoration: underline;
}

h2 {
  text-align: right;
  margin: -35px 10px 0px 0;
  font-size: 1.3em;
}

hr {
  background-color: #000;
  border-color: #ccc;
  border-style: dashed;
  opacity: 0.5;
}

p {
  padding: 0 20px;
}

.file {
  display: inline-block;
  background-color: #0f0;
  padding: 2px 6px;
  border-radius: 5px;
  margin: 3px 10px;
}

.file a {
  text-decoration: none;
  color: #f00;
}
