body {
  font-family: helvetica;
}

.header {
  background-image: url(../images/header.png);
  min-height: 350px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

hr {
  background-color: #000;
  border-color: #ccc;
  border-style: dashed;
  opacity: 0.5;
}

.file {
  /*display: inline-block;*/
  background-color: #0f0;
  padding: 2px 6px;
  border-radius: 5px;
  margin: 3px 10px;
  text-align: center;
}

.file a {
  text-decoration: none;
  color: #f00;
}
